{% load static %}
<!DOCTYPE HTML>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ tougcomsys.SITE_NAME }}</title>
        <link rel="stylesheet" href="{% static 'tougcomsys/tougcomsys.css' %}">
        {% if tougcomsys.COLORSCHEME %}
            {% with tougcomsys.COLORSCHEME as colorscheme %}
                <link rel="stylesheet" href="{% static 'tougcomsys/tougcomsys_' %}{{ tougcomsys.COLORSCHEME }}.css">
            {% endwith %}
        {% endif %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Proza+Libre&display=swap" rel="stylesheet">
    </head>
    <body>

        <div id="head">
            <a href="{% url 'tougcomsys:homepage' %}">
                {% if tougcomsys.BANNER_IMAGE %}
                    <img src="{{ tougcomsys.BANNER_IMAGE }}" alt="{{ tougcomsys.BANNER_ALT }}" />
                {% endif %}
                {% if tougcomsys.BANNER_TEXT %}
                    <div id="bannertext">
                        {{ tougcomsys.BANNER_TEXT }}
                    </div>
                {% endif %}
            </a>
        </div>
        {% if menus.0 %}
            <div id="menubar">
                {% for item in menus.0 %}
                    <a href="{{ item.href }}">{{ item.label }}</a>
                {% endfor %}
            </div>
        {% endif %}

        <div id="mainstage">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            {{ tougcomsys.FOOTER_CONTENT|safe }}
        </div>
    </body>
</html>