{% load static %}
<!DOCTYPE HTML>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Suffolk Democratic Committe, Virginia</title>
        <link rel="stylesheet" href="{% static 'tougcomsys/tougcomsys.css' %}">
        {% if tougcomsys.COLORSCHEME %}
            {% with tougcomsys.COLORSCHEME as colorscheme %}
                <link rel="stylesheet" href="{% static 'tougcomsys/tougcomsys_' %}{{ tougcomsys.COLORSCHEME }}.css">
            {% endwith %}
        {% endif %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          
    </head>
    <body>
        <div id="head">
            <a href="{% url 'tougcomsys:homepage' %}"><img src="{{ tougcomsys.BANNER_IMAGE }}"></a>
        </div>
        <div id="menubar">
            {% for menu in menus %}
                {% if forloop.first %}
                    {% for item in menu.menuitem_set.all %}
                        <a href="{{ item.link.url }}">{{ item.link.label }}</a>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <div id="mainstage">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            {{ tougcomsys.FOOTER_CONTENT|safe }}
        </div>
    </body>
</html>