{% load static %}
<!DOCTYPE HTML>

<html>
    <head>
        {% if object %}
            <meta property="og:title" content="{{ object.headline|safe  }}" />

            {% if object.featured_image %}
                <meta property="og:image" content="{{ object.featured_image.url  }}" />
                <meta property="og:image:alt" content="{{ object.featured_image.alt_text  }}" />
                <meta property="og:description" content="{{ object.summary }}" />
            {% else %}
                {% if 'keyed_head_lines' in tougcomsys %}
                    {% if 'og_image' in tougcomsys.keyed_head_lines %}
                        {{ tougcomsys.keyed_head_lines.og_image|safe  }}
                    {% endif %}
                    {% if 'og_image_alt' in tougcomsys.keyed_head_lines %}
                        {{ tougcomsys.keyed_head_lines.og_image_alt|safe  }}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ tougcomsys.SITE_NAME }}</title>
        <link rel="stylesheet" href="{% static 'tougcomsys/'|add:tougcomsys.active|add:'/tougcomsys.css' %}">
        {% if tougcomsys.COLORSCHEME %}
            {% with tougcomsys.COLORSCHEME as colorscheme %}
                <link rel="stylesheet" href="{% static 'tougcomsys/tougcomsys_' %}{{ tougcomsys.COLORSCHEME }}.css">
            {% endwith %}
        {% endif %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap" rel="stylesheet">
        {% for head_line in tougcomsys.head_lines %}
            {{ head_line|safe }}
        {% endfor %}
        {% for head_line in tougcomsys.head_lines_replaceable %}
            {{ head_line|safe }}
        {% endfor %}
        <script src="{% static 'touglates/touglates.js' %}"></script>
    </head>
    <body>

        <div id="head">
            <a href="{% url 'tougcomsys:homepage' %}">
                {% if tougcomsys.BANNER_IMAGE %}
                    <img src="{{ tougcomsys.BANNER_IMAGE }}" alt="{{ tougcomsys.BANNER_ALT }}" />
                {% endif %}
                {% if tougcomsys.BANNER_TEXT %}
                    <div id="bannertext">
                        {{ tougcomsys.BANNER_TEXT }}
                    </div>
                {% endif %}
            </a>
        </div>

        {% if messages %}
            <div id="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        {% if menus.0 %}
            <div id="menubar">
                {% for item in menus.0 %}
                    <a href="{{ item.href }}">{{ item.label }}</a>
                {% endfor %}
            </div>
        {% endif %}

        <div id="mainstage">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            {{ tougcomsys.FOOTER_CONTENT|safe }}
        </div>
    </body>
</html>