{% extends './_base.html' %}
{% block content %}
<div id="post_detail" class="detail">
    <div class="headline post_headline">
        <h2>
            {{ event.headline }}
        </h2>
    </div>
    {% if event.above_content_image %}
        <div class="content_image">
            {% if event.above_content_image_link %}
                <a href="{{ event.above_content_image_link }}"{% if event.above_content_link_attributes %} {{ event.above_content_link_attributes }}{% endif %} >
                    <img class="content_image" src="{{ event.above_content_image.url }}" alt="{{ event.above_content_image.alt_text }}" {% if event.above_content_image_attributes %} {{ event.above_content_image_attributes|safe }}{% endif %}>     
                </a>
            {% else %}
                <img class="content_image" src="{{ event.above_content_image.url }}" alt="{{ event.above_content_image.alt_text }}" {% if event.above_content_image_attributes %} {{ event.above_content_image_attributes|safe }}{% endif %}>     
            {% endif %}
        </div>
    {% endif %}
    <div class="event_dates">
        {% if event_dates.previous %}
            <div class="event_date event_date_previous" >{{ event_dates.previous }}</div>
        {% endif %}
        {% if event_dates.now_or_next %}
            <div class="event_date event_date_now_or_next" >{{ event_dates.now_or_next }}</div>
        {% endif %}
        {% if event_dates.next %}
            <div class="event_date event_date_next" >{{ event_dates.next }}</div>
        {% endif %}
    </div>
    {% if event_dates.past or event_dates.future %}
        <div class="event_dates">
            <div class="event_date event_date_info">
                [more dates below]
            </div>
        </div>
    {% endif %}
    {% if event.show_author or event.show_created %}
        <div class="meta post_meta">
            {% if event.show_author %}
                {{ event.author|default_if_none:'&nbsp;' }}
            {% endif %}
            {% if event.show_author and event.show_created %} - {% endif %}
            {% if event.show_created %} 
                {{ event.created|default_if_none:'&nbsp;' }} 
            {% endif %}
        </div>
    {% endif %}
    <div class="content post_content">
        {{ event.content | safe }} 
    </div>
    {% if event.below_content_image %}
        <div class="content_image">
            {% if event.below_content_image_link %}
                <a href="{{ event.below_content_image_link }}"{% if event.below_content_link_attributes %} {{ event.below_content_link_attributes }}{% endif %} >
                    <img class="content_image" src="{{ event.below_content_image.url }}" alt="{{ event.below_content_image.alt_text }}" {% if event.below_content_image_attributes %} {{ event.below_content_image_attributes|safe }}{% endif %}>     
                </a>
            {% else %}
                <img class="content_image" src="{{ event.below_content_image.url }}" alt="{{ event.below_content_image.alt_text }}" {% if event.below_content_image_attributes %} {{ event.below_content_image_attributes|safe }}{% endif %}>     
            {% endif %}
        </div>
    {% endif %}
    <div class="event_dates event_dates_stacked">
        {% for event_date in event.eventdate_set.all %}
            <div class="event_date">{{ event_date.whenday }}</div>
        {% endfor %}
</div>

{% endblock %}