<div id="save">
  {% if 1 == 2 %}1{% endif %}


  {% with aftersave='<select name="aftersave">
    <option value="page1">{% if here == "page1" %}here{% else %}And Go to Article Fields{% endif %}</option>
    <option value="page2">{% if here == "page1" %}here{% else %}And Go to Article Images{% endif %}</option>
    <option value="page3">{% if here == "page1" %}here{% else %}And Place Article{% endif %}</option>
    <option value="page4">{% if here == "page1" %}here{% else %}And Add Event Dates{% endif %}</option>
    <option value="page5">{% if here == "page1" %}here{% else %}And Preview or Publish{% endif %}</option>
  </select>' %}
    {% include 'touglates/form_field.html' with label="Submit Form" field_1='<button type="submit">Save</button>' field_2=aftersave %}
  {% endwith %}
</div>
