{% extends './_base.html' %}

{% block content %}
    {% include 'tougshire_vistas/filter.html' %}
    <div id="tougcomsys" class="list">
        <table>
            <tr>
                {% if user.is_authenticated %}
                    <th>Action</th>
                {% endif %}
                <th>Headline</th>
                <th>Update</th>
                <th>Status</th>
                <th>Placements</th>
            </tr>
            {% if user.is_authenticated %}
                <tr>
                    <td><a href="{% url 'tougcomsys:article_create' %}">new</a><td colspan="*"></td>
                </tr>
            {% endif %}
            {% for article in object_list %}
                <tr class="{% cycle 'listRowOdd' 'ListRowEven' %}" style="background-color: {% cycle '#eee' '#fff' %};">
                    
                    {% if user.is_authenticated %}
                        <td>
                            <div>
                                <a href="{% url 'tougcomsys:article_update' article.pk %}">Edit</a>
                            </div>
                            <div>
                                {% if article.slug > "" %}
                                    <a href="{% url 'tougcomsys:article' pk=article.pk slug=article.slug %}">View</a>
                                {% else %}
                                    <a href="{% url 'tougcomsys:article' pk=article.pk %}">View</a>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div>{{ article.headline }}</div>
                            <div>{{ article.subheadline }}</div>
                        </td>
                    {% else %}
                        <td>
                            <div>
                                {% if article.slug > "" %}
                                    <a href="{% url 'tougcomsys:article' pk=article.pk slug=article.slug %}">{{ article.headline }}</a>
                                {% else %}
                                    <a href="{% url 'tougcomsys:article' pk=article.pk %}">{{ article.headline }}</a>
                                {% endif %}
                            </div>
                            <div>{{ article.subheadline }}</div>
                        </td>
                    {% endif %}
                    <td>
                        <div>{{ article.updated_date }}</div>
                    </td>
                    <td>
                        <div>{{ article.get_draft_status_display }}</div>
                    </td>
                    <td>
                        {% for articleplacement in article.articleplacement_set.all %}
                            <div>{{ articleplacement.placement }}</div>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}