{% extends './_base.html' %}
{% load static %}

{% block content %}
    <script src='{% static 'touglates\touglates.js' %}'></script>
    <div class="form">
        {% if form.errors %}{{ form.errors }}{% endif %}
        <form id="frm_article" method="POST">
            {{ form.media }}
            {% csrf_token %}
            {% for field in form.hidden_fields %}
            {{ field }}
            {% endfor %}

            <div id="div_show_author">
                {% include 'touglates/form_field.html' with field=form.show_author label_tag=formshow_author.label_tag %}
            </div>
            <div id="div_show_updated">
                {% include 'touglates/form_field.html' with field=form.show_updated label_tag=formshow_updated.label_tag %}
            </div>
            {{ placements.management_form }}
            {% for placementform in placements.forms %}
            {% if placementform.id.value > 0 %}
              <div id="div_placementform_{{ placementform.id.value }}" class="placementformsetform"  >
                {% for hiddenfield in placementform.hidden_fields %}
                  {{ hiddenfield }}
                {% endfor %}
                {% include 'touglates/form_field.html' with field=placementform.placement %}
                {% include 'touglates/form_field.html' with field=placementform.expiration_date %}
                {% include 'touglates/form_field.html' with field=placementform.DELETE %}
              </div>
            {% else %}
              <div class="placementformsetform placementnewform" >
                {% for hiddenfield in placementform.hidden_fields %}
                  {{ hiddenfield }}
                {% endfor %}
                {% include 'touglates/form_field.html' with field=placementform.placement %}
                {% include 'touglates/form_field.html' with field=placementform.expiration_date %}
                {% include 'touglates/form_field.html' with field=placementform.DELETE %}
              </div>
            {% endif %}
          {% endfor %}
    





            {% include 'touglates/form_field.html' with label="Submit Form" field='<button type="submit">Save and Continue</button>' %}
        </form>
    </div>
{% endblock %}