{% extends './_base.html' %}

{% block content %}
    <div id="tougcomsys" class="detail">
        {% if article.detail_image %}
            <div class="article article_with_image_{{ article.detail_image_location }}">
                <div class="headline">   
                    <h3>{{ article.headline|safe }}</h3>
                </div>
                <div class="subheadline">
                    {{ article.subheadline|safe }}
                </div>
                <div class="detail_image" >
                    <img src="{{ article.detail_image.url }}"{% if article.detail_image.alt_text %} alt="{{ article.detail_image.alt_text }}"{% endif %}>
                </div>
                <div class="content" >
                    {{ article.content|safe }}
                </div>
            </div>

        {% else %}
            <div class="article article_with_image_{{ article.detail_image_location }}">
                <div class="headline">   
                    <h3>{{ article.headline|safe }}</h3>
                </div>
                <div class="subheadline">
                    {{ article.subheadline|safe }}
                </div>
                <div class="content" >
                    {{ article.content|safe }}
                </div>
            </div>

        {% endif %}

        {% if article.allow_comments > -1 %}
            {% for comment in article.comment_set.all %}
                <div class="comment">
                    <div class="commentheader">{{ comment.created_date }}: {{ comment.author }}</div>
                    {% if comment.in_reply_to %}
                        <div class="commentinreplyto">In Reply To: {{ comment.in_reply_to.created_date }}: {{ comment.in_reply_to.author }} {{ comment.in_reply_to.comment_text|slice:"0:50"}}</div>
                        </div>
                    {% endif %}
                    <div class="commenttext">{{ comment.comment_text }}</div>
                </div>
            {% endfor %}
            {% if article.allow_comments == 1 %}
                    <a href="{% url 'tougcomsys:comment_create' article.slug %}">Comment</a>
                    {% if subscription %}
                        <a href="{% url 'tougcomsys:subscription_delete' subscription.id %}">Unsubscribe</a>
                    {% else %}
                        <a href="{% url 'tougcomsys:subscription_create' article.slug %}">Subscribe</a>
                    {% endif %}
            {% endif %}
        {% endif %}
    </div>

{% endblock %}