{% extends './_base.html' %}

{% block content %}
<div id="tougcomsys" class="form">
    <p>Please leave the last field blank.  It's there to prevent submissions from automatic form fillers (and people who don't follow directions)</p>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}