{% extends './_base.html' %}

{% block content %}
    <div id="tougcomsys" class="list">

        <div id="columns" class="columns"> 
            {% for placement in placements %}

                {% if placement.type == placement_types.articlelist %}

                    <div class="column column_{{ placement.column_width }}">
                        {% if placement.show_title %}
                            <h2>{{ placement.title }}</h2>
                        {% endif %}

                        {% for articleplacement in placement.articleplacements %}

                            {% if articleplacement.article.list_image.show_in_list == "top" %}
                                <div class="article article_image_{{ articleplacement.article.list_image.show_in_list }}">
                                    <div class="list_image">
                                        <img src="{{ articleplacement.article.list_image.image.url }}">
                                    </div>

                                    <div class="list_textfields">
                                        <div class="headline">
                                            <h3>{{ articleplacement.article.headline|safe }}</h3>
                                        </div>
                                        <div class="subheadline">
                                            {{ articleplacement.article.subheadline|safe }}
                                        </div>
                                        <div class="summary">
                                            {{ articleplacement.article.summary|safe }}
                                        </div>
                                    </div>
                                </div>

                            {% elif articleplacement.article.list_image.show_in_list == "side" %}
                                <div class="article article_image_{{ articleplacement.article.list_image.show_in_list }}">
                                    <div class="list_image">
                                        <img src="{{ articleplacement.article.list_image.image.url }}">
                                    </div>

                                    <div class="list_textfields">
                                        <div class="headline">
                                            <h3>{{ articleplacement.article.headline|safe }}</h3>
                                        </div>
                                        <div class="subheadline">
                                            {{ articleplacement.article.subheadline|safe }}
                                        </div>
                                        <div class="summary">
                                            {{ articleplacement.article.summary|safe }}
                                        </div>
                                    </div>
                                </div>

                            {% elif articleplacement.article.list_image.show_in_list == image_positions.belowcontent %}

                                <div class="article article_image_{{ articleplacement.article.list_image.show_in_list }}">
                                    <div class="list_image">
                                        <img src="{{ articleplacement.article.list_image.image.url }}">
                                    </div>

                                    <div class="list_textfields">
                                        <div class="headline">
                                            <h3>{{ articleplacement.article.headline|safe }}</h3>
                                        </div>
                                        <div class="subheadline">
                                            {{ articleplacement.article.subheadline|safe }}
                                        </div>
                                        <div class="summary">
                                            {{ articleplacement.article.summary|safe }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}

                    </div>

                {% elif placement.type == placement_types.eventlist %}}
                {% endif %}

            {% endfor %}
        </div>
    </div>

    {% if menus.1 %}
        <div id="sidemenu">
            {% for item in menus.1.menuitem_set.all %}
                <a href="{{ item.link.url }}">{{ item.label }}</a>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}