@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.font_size_xs {
    font-size:60%;
}
.font_size_s {
    font-size:80%;
}
.font_size_m {
    font-size:100%;
}
.font_size_l {
    font-size:120%;
}
.font_size_xl {
    font-size:150%;
}
    
#footer {
    text-align:center;
}

#head {
    width:80%;
    margin: 0 auto;
    text-align:center;
}

#head img {
    width:65%;
}

#menubar {
    width:100%;
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin: auto auto 1ex auto;
    padding: .5ex .5ex;
}

#menubar a {
    display:block;
    text-decoration: none;
}

#sidemenu {
    border-left: 2px solid;
    margin: auto 1exauto  auto;
    padding: .5ex .5ex;

}
#sidemenu a {
    display:block;
    text-decoration: none;
}

div.columns{
    display:flex;
}

div.columns div.column_narrow {
    flex: 1;
}

div.columns div.column_narrow img {
    width:80%;
    margin: 0 auto;
}

div.columns div.column_wide {
    flex: 2;
}

div.column_wide img {
    float:right;
    width:40%;
    margin-right:10%;
}