@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");


#head {
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;

}

#footer {
    background-color:#002e5c;
    color:white;
}

#menubar {
    border-color: black;
}

#menubar a {
    color:#022e5b;
}

#sidemenu {
    border-color: black;
}

#sidemenu a {
    color:#022e5b;
}



div.detail div.headline h2 {
    color:#002e5c;
    background-color: #cdf;
}

div.detail div.headline h2 a {
    color:#002e5c;
}

div.detail div.headline h3 {
    color:#00a7e0;
}

div.detail div.headline h3 a {
    color:#00a7e0;
}

div.list div.columns {
}

div.list #columns .column  {
    border-color: #cdf;
}


div.list div.article, div.list div.event_date {
    border-color: #00a7e0;
}

div.list div.article div.headline h2 {
    color:#002e5c;
    background-color: #cdf;
}

div.list div.article div.headline h2 a {
    color:#002e5c;
    background-color: #cdf;
}

div.list div.article div.headline h3 {
    color: #002e5c;
}

div.list div.article div.headline h3 a {
    color: #002e5c;
}
div.list div.columns .article {
    border-bottom:1px solid blue;
}

