@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

@media only screen and (max-width: 600px) {
    body {
        border-top:2px solid black;
    }

    #footer {
        text-align:center;
    }

    #head  {
        width:80%;
        margin: 0 auto;
        text-align:center;
    }

    #head img  {
        width:100%;
    }

    #menubar {
        width:100%;
        text-align: center;
        border: 2px auto 2px auto;
        margin: auto auto 1ex auto;
        padding: .5ex .5ex;
        border-top: solid black;
        border-bottom: solid black;

    }

    #menubar a {
        display:block;
        text-decoration: none;
    }

    div.detail {
        min-height: 900px;
    }

    div.detail div.content {
        width:90%;
        margin:0 auto;
        font-family: open sans,sans-serif;   
    }
    
    div.detail div.content_image {
        width:100%;
    }

    div.detail div.content_image img {
        width:100%;
    }

    div.detail div.meta {
        width:95%;
        margin:0 auto;
        text-align:right;
    }

    div.detail div.headline {
        width:100%;
    }

    div.detail div.headline h2 {
        font-size:1.6em;
        margin:0 auto 0 auto;
        border-radius:.1em;
        font-family: 'Merriweather', serif;
        text-align: center;
    }

    div.detail div.headline h2 a {
        text-decoration: none;        
    }

    div.detail div.headline h3  {
        width:90%;
        font-size:1.2em;
        margin:0 auto 0 auto;
        border-radius:.1em;
        font-family: 'Merriweather', serif;
        text-align: center;
    }

    div.detail div.headline h3 a  {
        text-decoration: none;        
    }

    div.list div.column {
        border: 0;
    }

    div.list .list_image {
        width:100%;
    }

    div.list .list_image img {
        width:100%;
    }

    div.list div.meta {
        width:90%;
        margin:0 auto;
        text-align:right;
    }

    div.list div.article, div.list div.event_date {
        border-bottom: 1px solid;
        margin: 1em;
    }

    div.list div.summary {
        width:80%;
        margin:0 auto;
    }

    div.list div.headline {
        width:100%;
    }

    div.list div.headline h2 {
        font-size:1.6em;
        margin-top:0;
        border-radius:.1em;
        font-family: 'Merriweather', serif;
        text-align: center;
    }

    div.list div.headline h2 a {
        text-decoration: none;        
    }

    div.list div.headline h3 {
        width:90%;
        font-size:1.2em;
        margin:0 auto 0 auto;
        border-radius:.1em;
        font-family: 'Merriweather', serif;
        text-align: center;
    }
    
    div.list div.headline h3 a {
        text-decoration: none;        
    }

}

@media only screen and (min-width: 600px) {
    body {
        border-top:2px solid black;
    }

    #footer {
        text-align:center;
    }

    #head {
        width:80%;
        margin: 0 auto;
        text-align:center;
    }

    #head img {
        width:65%;
    }

    #menubar {
        width:100%;
        display:flex;
        justify-content: space-evenly;
        text-align: center;
        border: 2px auto 2px auto;
        margin: auto auto 1ex auto;
        padding: .5ex .5ex;
        border-top: solid black;
        border-bottom: solid black;
    }
    
    #menubar a {
        display:block;
        text-decoration: none;
    }

    div.detail {
        min-height: 900px;
    }

    div.detail div.content {
        width:90%;
        margin:0 auto;
        font-family: open sans,sans-serif;        
    }

    div.detail div.content_image {
        width:100%;
        text-align: center;
    }

    div.detail div.content_image img {
        width:80%;
        margin:0 auto;
    }

    div.detail div.event_dates {
        width:100%;
        display:flex;
        justify-content: space-around;
    }

    div.detail div.meta {
        width:95%;
        margin:0 auto;
        text-align:right;
    }

    div.detail div.headline {
        width:100%;
    }

    div.detail div.headline h2 {
        font-size:1.6em;
        margin:0 auto 0 auto;
        border-radius:.1em;
        font-family: 'Merriweather', serif;
        text-align: center;
    }
    
    div.detail div.headline h2 a {
        text-decoration: none;        
    }

    div.detail div.headline h3 {
        width:90%;
        font-size:1.2em;
        margin:0 auto 0 auto;
        border-radius:.1em;
        font-family: 'Merriweather', serif;
        text-align: center;
    }

    div.detail div.headline h3 a {
        text-decoration: none;        
    }

    div.list div.columns #column_first.column {
        flex: 3;
        border-left: none;
    }

    div.list #columns .column  {
        flex: 1;
        border-left: 1px solid black;
        padding: .5em 1em 1em 1em;
    }

    div.list div.columns {
        display:flex;
    }

    div.list .list_image {
        width:100%;
    }

    div.list div.list_image img {
        max-width:100%;
    }

    div.list div.meta {
        width:90%;
        margin:0 auto;
        text-align:right;
    }

    div.list div.article, div.list div.event_date {
        border-bottom: 1px solid;
        margin: 1em;
    }

    div.list div.article div.summary {
        width:80%;
        margin:0 auto;
    }

    div.list div.article div.headline {
        width:100%;
    }

    div.list div.article div.headline h2 {
        font-size:1.6em;
        margin-top:0;
        border-radius:.1em;
        font-family: 'Merriweather', serif;
        text-align: center;

    }

    div.list div.article div.headline h2 a {
        text-decoration: none;        
    }

    div.list div.article div.headline h3 {
        width:90%;
        font-size:1.2em;
        margin:0 auto 0 auto;
        border-radius:.1em;
        font-family: 'Merriweather', serif;
        text-align: center;
    }

    div.list div.article div.headline h3 a {
        text-decoration: none;
    }

    div.list div.article_nimg_nmet {
        display:block;
    }

    div.list div.article_nimg_ymet {
        display:block;
    }

    /* div.list  {
    } */

    div.list div.column_first div.article_yimg_nmet {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }


    div.list div.column_first div.article_yimg_nmet div.list_image {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    div.list div.column_first div.article_yimg_nmet div.summary {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    div.list div.column_first div.article_yimg_nmet div.headline {
        margin-left: .5em;
        margin-right: .5em;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    div.list div.column_first div.article_yimg_ymet {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 3fr;
    }

    div.list div.column_first div.article_yimg_ymet div.list_image {
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;
    }

    div.list div.column_first div.article_yimg_ymet div.summary {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    div.list div.column_first div.article_yimg_nmet div.meta {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    
}
